@using webNews.Security
<div class="w-header">
    <div class="w-header-l">
        <a href="index.html"></a>
    </div>
    <div class="w-header-r">
        <ul class="lt w-header-search">
            <li>
                <form action="#" method="post">
                    <input id="keyword" name="keyword" type="text" autocomplete="off" value="Search" onblur="if(this.value == ''){this.value = 'Search';}" onfocus="if(this.value == 'Search'){this.value = '';};" />
                </form>
            </li>
            <li><a class="language-vi" href="#"></a></li>
            <li><a class="language-en" href="#"></a></li>
        </ul>
        <div class="cl">
        </div>
        <ul class="lt w-header-menu">
            @Authentication.GetMenuFE()

            <li><a class="active" href="index.html">Trang chủ</a></li>
            <li>
                <a href="gioi-thieu/ve-flc-group/ve-flc-group/index.html">Giới thiệu</a>
                <ul>
                    <li><a href="gioi-thieu/thu-cua-chu-tich/chien-luoc/index.html" title="Hồ sơ c&#244;ng ty">Hồ sơ c&#244;ng ty</a></li>
                    <li><a href="gioi-thieu/lanh-dao/index.html" title="L&#227;nh đạo">L&#227;nh đạo</a></li>
                    <li><a href="gioi-thieu/quy-dinh-bieu-tuong/quy-dinh-bieu-tuong/index.html" title="Quy định biểu tượng">Quy định biểu tượng</a></li>
                    <li><a href="gioi-thieu/so-do-to-chuc/so-do-to-chuc/index.html" title="Sơ đồ tổ chức">Sơ đồ tổ chức</a></li>
                    <li><a href="gioi-thieu/cong-ty-thanh-vien-lien-ket/index.html" title="C&#244;ng ty th&#224;nh vi&#234;n">C&#244;ng ty th&#224;nh vi&#234;n</a></li>
                    <li><a href="gioi-thieu/co-dong/index.html" title="Cổ đ&#244;ng">Cổ đ&#244;ng</a></li>
                    <li><a href="thu-vien-hinh-anh/index.html" title="Thư viện hình ảnh">Thư viện hình ảnh</a></li>
                </ul>
            </li>
            <li>
                <a href="tin-tuc/quan-he-co-dong/index.html">Cổ đông</a>
                <ul>
                    <li><a href="tin-tuc/ban-tin-nha-dau-tu/index.html" title="Bản tin nh&#224; đầu tư">Bản tin nh&#224; đầu tư</a></li>
                    <li><a href="tin-tuc/dai-hoi-co-dong-thuong-nien/dai-hoi-co-dong-thuong-nien/index.html" title="Đại hội cổ đ&#244;ng thường ni&#234;n">Đại hội cổ đ&#244;ng thường ni&#234;n</a></li>
                    <li><a href="tin-tuc/bao-cao-tai-chinh/bao-cao-tai-chinh/index.html" title="B&#225;o c&#225;o t&#224;i ch&#237;nh">B&#225;o c&#225;o t&#224;i ch&#237;nh</a></li>
                    <li><a href="tin-tuc/bao-cao-thuong-nien/bao-cao-thuong-nien/index.html" title="B&#225;o c&#225;o thường ni&#234;n">B&#225;o c&#225;o thường ni&#234;n</a></li>
                    <li><a href="tin-tuc/dieu-le-cong-ty/dieu-le-cong-ty/index.html" title="Điều lệ c&#244;ng ty">Điều lệ c&#244;ng ty</a></li>
                    <li><a href="tin-tuc/quy-che-quan-tri/quy-che-quan-tri/index.html" title="Quy chế quản trị">Quy chế quản trị</a></li>
                </ul>
            </li>
            <li>
                <a href="tin-tuc/linh-vuc-dau-tu/index.html">Lĩnh vực đầu tư</a>
                <ul>
                    <li><a href="tin-tuc/bat-dong-san/bat-dong-san/index.html" title="Bất động sản">Bất động sản</a></li>
                    <li><a href="tin-tuc/dao-tao-nghe/dao-tao-nghe/index.html" title="Đ&#224;o tạo nghề">Đ&#224;o tạo nghề</a></li>
                    <li><a href="tin-tuc/xuat-khau-lao-dong/xuat-khau-lao-dong/index.html" title="Xuất khẩu lao động">Xuất khẩu lao động</a></li>
                    <li><a href="tin-tuc/khai-thac-che-bien-khoang-san/khai-thac-che-bien-khoang-san/index.html" title="Khai th&#225;c, chế biến kho&#225;ng sản">Khai th&#225;c, chế biến kho&#225;ng sản</a></li>
                    <li><a href="tin-tuc/tu-van-phap-ly/tu-van-phap-ly/index.html" title="Tư vấn ph&#225;p l&#253;">Tư vấn ph&#225;p l&#253;</a></li>
                    <li><a href="tin-tuc/kinh-doanh-cong-nghe/kinh-doanh-cong-nghe/index.html" title="Kinh doanh c&#244;ng nghệ">Kinh doanh c&#244;ng nghệ</a></li>
                    <li><a href="tin-tuc/truyen-thong-to-chuc-su-kien/truyen-thong-to-chuc-su-kien/index.html" title="Truyền th&#244;ng, tổ chức sự kiện">Truyền th&#244;ng, tổ chức sự kiện</a></li>
                    <li><a href="tin-tuc/san-tap-golf/san-tap-golf/index.html" title="S&#226;n tập golf">S&#226;n tập golf</a></li>
                    <li><a href="tin-tuc/du-lich-dich-vu/du-lich-dich-vu/index.html" title="Du lịch, dịch vụ">Du lịch, dịch vụ</a></li>
                    <li><a href="tin-tuc/dau-tu-tai-chinh/dau-tu-tai-chinh/index.html" title="Đầu tư t&#224;i ch&#237;nh">Đầu tư t&#224;i ch&#237;nh</a></li>
                    <li><a href="tin-tuc/cung-ung-vat-lieu-xay-dung/cung-ung-vat-lieu-xay-dung/index.html" title="Cung ứng vật liệu x&#226;y dựng">Cung ứng vật liệu x&#226;y dựng</a></li>
                </ul>
            </li>
            <li>
                <a href="du-an/index.html">Dự án</a>
                <ul>
                    <li><a href="du-an/chung-cu-van-phong/index.html" title="TỔ HỢP CHUNG CƯ, VĂN PH&#210;NG">TỔ HỢP CHUNG CƯ, VĂN PH&#210;NG</a></li>
                    <li><a href="du-an/thuong-mai-dich-vu/index.html" title="Thương mại, dịch vụ">Thương mại, dịch vụ</a></li>
                    <li><a href="du-an/khach-san-resort/index.html" title="Kh&#225;ch sạn, resort">Kh&#225;ch sạn, resort</a></li>
                </ul>
            </li>
            <li>
                <a href="tin-tuc/tin-flc-group/index.html">Tin tức - Sự kiện</a>
                <ul>
                    <li><a href="tin-tuc/tin-flc-group/index.html" title="Tin FLC Group">Tin FLC Group</a></li>
                    <li><a href="tin-tuc/thong-tin-bao-chi/index.html" title="Th&#244;ng tin b&#225;o ch&#237;">Th&#244;ng tin b&#225;o ch&#237;</a></li>
                </ul>
            </li>
            <li>
                <a href="http://career.flc.vn/" target="_blank">Tuyển dụng</a>
            </li>
            <li style="display:none;">
                <a href="tin-tuc/tuyen-dung/index.html">Tuyển dụng</a>
                <ul>
                    <li><a href="tin-tuc/tin-tuc-tuyen-dung/index.html" title="Tin tức tuyển dụng">Tin tức tuyển dụng</a></li>
                    <li><a href="tin-tuc/mau-ho-so-ung-vien/mau-ho-so-ung-vien/index.html" title="Mẫu hồ sơ ứng vi&#234;n">Mẫu hồ sơ ứng vi&#234;n</a></li>
                    <li><a href="tin-tuc/gui-ho-so-toi-flc/gui-ho-so-toi-flc/index.html" title="Gửi hồ sơ tới FLC">Gửi hồ sơ tới FLC</a></li>
                    <li><a href="tin-tuc/lien-he-tuyen-dung/lien-he-tuyen-dung/index.html" title="Li&#234;n hệ tuyển dụng">Li&#234;n hệ tuyển dụng</a></li>
                </ul>
            </li>
            <li><a href="lien-he/index.html">Liên hệ</a></li>
        </ul>
        <script type="text/javascript">
            $(document).ready(function () {

                var _activeUrl = "";

                if (_activeUrl != "") {
                    var _objMenuActive = $("ul.w-header-menu li a");
                    _objMenuActive.removeClass("active");

                    $(_objMenuActive).each(function() {
                        if ($(this).attr("href") == _activeUrl) {
                            $(this).addClass("active");
                        }
                    });
                } else {
                    var pathArray = window.location.pathname.split('/');
                    _activeUrl = pathArray[1];

                    var _objMenuActive = $("ul.w-header-menu li a");
                    _objMenuActive.removeClass("active");

                    $(_objMenuActive).each(function() {
                        if ($(this).attr("href") == "/" + _activeUrl + "/") {
                            $(this).addClass("active");
                        }
                    });
                }
            });
        </script>

        <div class="cl">
        </div>
    </div>
    <div class="cl">
    </div>
</div>
