@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="news_event">
    <h2 class="w-title">
        TIN TỨC - SỰ KIỆN
    </h2>
    <div class="bg_newevent">
        <div class="w-body-r">
            <div class="w-body-r-l">
                <div class="listarticle">
                    <ul class="listitem">
                        <li class="item">
                            <div class="itembody">
                                <h3>
                                    <a href="tin-tuc/tin-flc-group/tap-doan-flc-va-pvi-holdings-ky-thoa-thuan-hop-tac-toan-dien/index.html" title="Tập đo&#224;n FLC v&#224; PVI Holdings k&#253; thỏa thuận hợp t&#225;c to&#224;n diện" class="title">
                                        Tập đo&#224;n FLC v&#224; PVI Holdings k&#253; thỏa thuận hợp t&#225;c to&#224;n diện
                                    </a>
                                </h3>
                                <div class="itemdes">
                                    <p>
                                        Ng&agrave;y 25/7, tại Trung t&acirc;m Hội nghị Quốc tế FLC Sầm Sơn (Thanh H&oacute;a), Tập đo&agrave;n FLC v&agrave; C&ocirc;ng ty Cổ phần PVI (PVI Holdings) đ&atilde; k&yacute; thỏa thuận hợp t&aacute;c to&agrave;n diện, trong đ&oacute; ch&uacute; trọng hợp t&aacute;c tr&ecirc;n c&aacute;c lĩnh vực bảo hiểm, quản l&yacute; t&agrave;i sản, đầu tư, hỗ trợ vốn, tư vấn t&agrave;i ch&iacute;nh.<br />
                                        <br />
                                        <br />
                                        &nbsp;
                                    </p>
                                </div>
                            </div>
                            <a class="avatar" href="tin-tuc/tin-flc-group/tap-doan-flc-va-pvi-holdings-ky-thoa-thuan-hop-tac-toan-dien/index.html" title="Tập đo&#224;n FLC v&#224; PVI Holdings k&#253; thỏa thuận hợp t&#225;c to&#224;n diện">
                                <img src="~/ThemeFE/Images/News/tap-doan-flc-va-pvi-holdings-ky-thoa-thuan-hop-tac-toan-dien-726201850101am.jpg" alt="Tập đo&#224;n FLC v&#224; PVI Holdings k&#253; thỏa thuận hợp t&#225;c to&#224;n diện" title="Tập đo&#224;n FLC v&#224; PVI Holdings k&#253; thỏa thuận hợp t&#225;c to&#224;n diện" />
                            </a>
                        </li>

                        <li class="item">
                            <div class="itembody">
                                <h3>
                                    <a href="tin-tuc/tin-flc-group/chinh-phu-phe-duyet-thanh-lap-hang-hang-khong-bamboo-airways/index.html" title="Ch&#237;nh phủ ph&#234; duyệt th&#224;nh lập H&#227;ng h&#224;ng kh&#244;ng Bamboo Airways" class="title">
                                        Ch&#237;nh phủ ph&#234; duyệt th&#224;nh lập H&#227;ng h&#224;ng kh&#244;ng Bamboo Airways
                                    </a>
                                </h3>
                                <div class="itemdes">
                                    <p>
                                        K&yacute; thay Thủ tướng Ch&iacute;nh phủ, Ph&oacute; Thủ tướng Ch&iacute;nh phủ Trịnh Đ&igrave;nh Dũng đ&atilde; ch&iacute;nh thức cho ph&eacute;p th&agrave;nh lập H&atilde;ng h&agrave;ng kh&ocirc;ng Bamboo Airways...
                                    </p>
                                </div>
                            </div>
                            <a class="avatar" href="tin-tuc/tin-flc-group/chinh-phu-phe-duyet-thanh-lap-hang-hang-khong-bamboo-airways/index.html" title="Ch&#237;nh phủ ph&#234; duyệt th&#224;nh lập H&#227;ng h&#224;ng kh&#244;ng Bamboo Airways">
                                <img src="~/ThemeFE/Images/News/chinh-phu-duyet-chu-truong-dau-tu-bamboo-airways-710201880719am.jpg" alt="Ch&#237;nh phủ ph&#234; duyệt th&#224;nh lập H&#227;ng h&#224;ng kh&#244;ng Bamboo Airways" title="Ch&#237;nh phủ ph&#234; duyệt th&#224;nh lập H&#227;ng h&#224;ng kh&#244;ng Bamboo Airways" />
                            </a>
                        </li>
                        <li class="item">
                            <div class="itembody">
                                <h3>
                                    <a href="tin-tuc/tin-flc-group/dai-su-ted-osius-viet-nam-chung-kien-du-lich-bung-no-o-nhung-diem-den-moi/index.html" title="Đại sứ Ted Osius: Việt Nam chứng kiến du lịch b&#249;ng nổ ở những điểm đến mới" class="title">
                                        Đại sứ Ted Osius: Việt Nam chứng kiến du lịch b&#249;ng nổ ở những điểm đến mới
                                    </a>
                                </h3>
                                <div class="itemdes">
                                    <p>
                                        &quot;Hoa Kỳ l&agrave; quốc gia c&oacute; lượng kh&aacute;ch đến Việt Nam nhiều nhất trong khu vực Ch&acirc;u Mỹ&quot;...
                                    </p>
                                </div>
                            </div>
                            <a class="avatar" href="tin-tuc/tin-flc-group/dai-su-ted-osius-viet-nam-chung-kien-du-lich-bung-no-o-nhung-diem-den-moi/index.html" title="Đại sứ Ted Osius: Việt Nam chứng kiến du lịch b&#249;ng nổ ở những điểm đến mới">
                                <img src="~/ThemeFE/Images/News/dai-su-ted-osius-viet-nam-chung-kien-du-lich-bung-no-o-nhung-diem-den-moi-628201861858am.jpg" alt="Đại sứ Ted Osius: Việt Nam chứng kiến du lịch b&#249;ng nổ ở những điểm đến mới" title="Đại sứ Ted Osius: Việt Nam chứng kiến du lịch b&#249;ng nổ ở những điểm đến mới" />
                            </a>
                        </li>
                        <li class="item">
                            <div class="itembody">
                                <h3>
                                    <a href="tin-tuc/tin-flc-group/reuters-bamboo-airways-ky-thoa-thuan-mua-20-may-bay-boeing-787-9-dreamliner-tri-gia-56-ty-usd/index.html" title="Reuters: Bamboo Airways k&#253; thỏa thuận mua 20 m&#225;y bay Boeing 787-9 Dreamliner trị gi&#225; 5,6 tỷ USD" class="title">
                                        Reuters: Bamboo Airways k&#253; thỏa thuận mua 20 m&#225;y bay Boeing 787-9 Dreamliner trị gi&#225; 5,6 tỷ USD
                                    </a>
                                </h3>
                                <div class="itemdes">
                                    <p>
                                        Bamboo Airways đ&atilde; ho&agrave;n th&agrave;nh việc đặt cọc mua 20 m&aacute;y bay, dự kiến sẽ b&agrave;n giao trong giai đoạn th&aacute;ng 4/2020 đến hết 2021, Bloomberg tiết lộ...
                                    </p>
                                </div>
                            </div>
                            <a class="avatar" href="tin-tuc/tin-flc-group/reuters-bamboo-airways-ky-thoa-thuan-mua-20-may-bay-boeing-787-9-dreamliner-tri-gia-56-ty-usd/index.html" title="Reuters: Bamboo Airways k&#253; thỏa thuận mua 20 m&#225;y bay Boeing 787-9 Dreamliner trị gi&#225; 5,6 tỷ USD">
                                <img src="~/ThemeFE/Images/News/reuters-bamboo-airways-ky-thoa-thuan-mua-20-may-bay-boeing-787-9-dreamliner-tri-gia-56-ty-usd-626201843236am.jpg" alt="Reuters: Bamboo Airways k&#253; thỏa thuận mua 20 m&#225;y bay Boeing 787-9 Dreamliner trị gi&#225; 5,6 tỷ USD" title="Reuters: Bamboo Airways k&#253; thỏa thuận mua 20 m&#225;y bay Boeing 787-9 Dreamliner trị gi&#225; 5,6 tỷ USD" />
                            </a>
                        </li>
                        <li class="item">
                            <div class="itembody">
                                <h3>
                                    <a href="tin-tuc/tin-flc-group/chu-tich-quoc-hoi-tham-danh-gia-cao-du-an-flc-ha-long-tai-quang-ninh/index.html" title="Chủ tịch Quốc hội thăm, đ&#225;nh gi&#225; cao dự &#225;n FLC Hạ Long tại Quảng Ninh" class="title">
                                        Chủ tịch Quốc hội thăm, đ&#225;nh gi&#225; cao dự &#225;n FLC Hạ Long tại Quảng Ninh
                                    </a>
                                </h3>
                                <div class="itemdes">
                                    <p>
                                        Trong chuyến c&ocirc;ng t&aacute;c ng&agrave;y 28/4 tại tỉnh Quảng Ninh, Chủ tịch Quốc hội Nguyễn Thị Kim Ng&acirc;n đ&atilde; đến thăm v&agrave; thị s&aacute;t nhiều dự &aacute;n quan trọng của tỉnh...
                                    </p>
                                </div>
                            </div>
                            <a class="avatar" href="tin-tuc/tin-flc-group/chu-tich-quoc-hoi-tham-danh-gia-cao-du-an-flc-ha-long-tai-quang-ninh/index.html" title="Chủ tịch Quốc hội thăm, đ&#225;nh gi&#225; cao dự &#225;n FLC Hạ Long tại Quảng Ninh">
                                <img src="~/ThemeFE/Images/News/chu-tich-quoc-hoi-flc-ha-long-can-tiep-tuc-phat-huy-vai-tro-trong-yeu-trong-phat-trien-du-lich-quang-ninh-430201845717am.jpg" alt="Chủ tịch Quốc hội thăm, đ&#225;nh gi&#225; cao dự &#225;n FLC Hạ Long tại Quảng Ninh" title="Chủ tịch Quốc hội thăm, đ&#225;nh gi&#225; cao dự &#225;n FLC Hạ Long tại Quảng Ninh" />
                            </a>
                        </li>
                    </ul>
                    <div class="nav">
                    </div>
                </div>
            </div>
            <div class="w-body-r-r">
                <div class="listarticle">
                    <ul class="lt othernews " id="scroller">
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/flc-phoi-hop-to-chuc-chuoi-su-kien-nam-du-lich-quoc-gia-2018-tai-flc-ha-long/index.html" title="FLC phối hợp tổ chức chuỗi sự kiện Năm Du lịch Quốc gia 2018 tại FLC Hạ Long">
                                FLC phối hợp tổ chức chuỗi sự kiện Năm Du lịch Quốc gia 2018 tại FLC Hạ Long
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/roadshow-tai-singapore-flc-cong-bo-tai-khoi-dong-tien-trinh-niem-yet-o-nuoc-ngoai/index.html" title="Roadshow tại Singapore: FLC c&#244;ng bố t&#225;i khởi động tiến tr&#236;nh ni&#234;m yết ở nước ngo&#224;i">
                                Roadshow tại Singapore: FLC c&#244;ng bố t&#225;i khởi động tiến tr&#236;nh ni&#234;m yết ở nước ngo&#224;i
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/flc-lap-cu-hat-trick-giai-thuong-quoc-te/index.html" title="FLC lập c&#250; “hat-trick” giải thưởng quốc tế">
                                FLC lập c&#250; “hat-trick” giải thưởng quốc tế
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/tap-doan-flc-ung-ho-10-ty-dong-cho-quy-vi-nguoi-ngheo-tinh-thanh-hoa/index.html" title="Tập đo&#224;n FLC ủng hộ 10 tỷ đồng cho quỹ &quot;V&#236; người ngh&#232;o&quot; tỉnh Thanh H&#243;a">
                                Tập đo&#224;n FLC ủng hộ 10 tỷ đồng cho quỹ &quot;V&#236; người ngh&#232;o&quot; tỉnh Thanh H&#243;a
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/sap-co-ky-quan-golf-ben-ky-quan-ha-long/index.html" title="Sắp c&#243; kỳ quan golf b&#234;n kỳ quan Hạ Long">
                                Sắp c&#243; kỳ quan golf b&#234;n kỳ quan Hạ Long
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/khanh-thanh-quan-the-du-lich-7000-ty-dong-flc-quy-nhon/index.html" title="Kh&#225;nh th&#224;nh quần thể du lịch 7.000 tỷ đồng FLC Quy Nhơn">
                                Kh&#225;nh th&#224;nh quần thể du lịch 7.000 tỷ đồng FLC Quy Nhơn
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/can-ho-5-sao-dau-tien-tai-quy-nhon-vua-ra-mat-da-hut-khach/index.html" title="Căn hộ 5 sao đầu ti&#234;n tại Quy Nhơn vừa ra mắt đ&#227; h&#250;t kh&#225;ch">
                                Căn hộ 5 sao đầu ti&#234;n tại Quy Nhơn vừa ra mắt đ&#227; h&#250;t kh&#225;ch
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/khach-san-flc-quy-nhon-dat-giai-kien-truc-doc-dao-nhat-viet-nam/index.html" title="Kh&#225;ch sạn FLC Quy Nhơn đạt giải “Kiến tr&#250;c độc đ&#225;o nhất Việt Nam”">
                                Kh&#225;ch sạn FLC Quy Nhơn đạt giải “Kiến tr&#250;c độc đ&#225;o nhất Việt Nam”
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/loi-nhuan-quy-ii2016-uoc-dat-500-ty-dong/index.html" title="Lợi nhuận qu&#253; II/2016 ước đạt 500 tỷ đồng">
                                Lợi nhuận qu&#253; II/2016 ước đạt 500 tỷ đồng
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/ngam-resort-ven-bien-tuyet-dep-sap-khai-truong-tai-quy-nhon/index.html" title="Ngắm resort ven biển tuyệt đẹp sắp khai trương tại Quy Nhơn">
                                Ngắm resort ven biển tuyệt đẹp sắp khai trương tại Quy Nhơn
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/pho-chu-tich-quoc-hoi-uong-chu-luu-tham-va-lam-viec-voi-tap-doan-flc/index.html" title="Ph&#243; chủ tịch Quốc hội U&#244;ng Chu Lưu thăm v&#224; l&#224;m việc với Tập đo&#224;n FLC">
                                Ph&#243; chủ tịch Quốc hội U&#244;ng Chu Lưu thăm v&#224; l&#224;m việc với Tập đo&#224;n FLC
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/flc-dua-doan-cong-nhan-xay-dung-tay-nghe-cao-di-lam-viec-tai-malaysia/index.html" title="Đo&#224;n c&#244;ng nh&#226;n x&#226;y dựng của FLC đi l&#224;m việc tại Malaysia">
                                Đo&#224;n c&#244;ng nh&#226;n x&#226;y dựng của FLC đi l&#224;m việc tại Malaysia
                            </a>
                        </li>
                        <li class="item">
                            <a href="tin-tuc/tin-flc-group/chu-tich-flc-duoc-bau-lam-pho-chu-tich-tw-hoi-doanh-nhan-tu-nhan-viet-nam/index.html" title="Chủ tịch FLC được bầu l&#224;m Ph&#243; chủ tịch TW Hội Doanh nh&#226;n tư nh&#226;n Việt Nam">
                                Chủ tịch FLC được bầu l&#224;m Ph&#243; chủ tịch TW Hội Doanh nh&#226;n tư nh&#226;n Việt Nam
                            </a>
                        </li>
                    </ul>

                    <a class="viewmore" href="tin-tuc/tin-tuc-su-kien/index.html">Xem thêm</a>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>

<div class="cl">
</div>
<h2 class="w-title">DỰ ÁN</h2>

<div class="w-body-c">
    <div class="listarticle">
        <ul class="listproject">
            <li class="item">
                <a class="avatar" href="du-an/chung-cu-van-phong/flc-residences-samson/index.html" title="FLC Residences Samson">
                    <img src="~/ThemeFE/Images/NewsSupport/flc-residences-samson-527201580452am.jpg" alt="FLC Residences Samson" title="FLC Residences Samson" />
                </a>
                <div class="news-item">
                    <div class="itembody">
                        <h3>
                            <a href="du-an/chung-cu-van-phong/flc-residences-samson/index.html" title="FLC Residences Samson" class="title">
                                FLC Residences Samson
                            </a>
                        </h3>
                        <div class="news-body">
                            <p>
                                <a href="http://flcluxcity.info"><span style="color:#a9a9a9;">FLC Sầm Sơn</span></a> Nằm ở vị tr&iacute; địa l&yacute; đẹp bậc nhất với thế &ldquo;ỷ sơn, hướng hải&rdquo; (sau lưng l&agrave; n&uacute;i, trước mặt l&agrave; s&ocirc;ng biển), <a href="http://flc-samson.info"><span style="color:#a9a9a9;">FLC Sầm Sơn</span></a> kh&ocirc;ng chỉ l&agrave; nơi hội tụ những cảnh quan thi&ecirc;n nhi&ecirc;n độc đ&aacute;o, m&agrave; c&ograve;n l&agrave; v&ugrave;ng đất an l&agrave;nh, mang đến nhiều may mắn l&acirc;u bền...
                            </p>
                        </div>
                        <a href="du-an/index.html" class="viewmore">Xem thêm.</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <a class="avatar" href="du-an/chung-cu-van-phong/flc-complex-pham-hung/index.html" title="FLC Complex Phạm H&#249;ng">
                    <img src="~/ThemeFE/Images/NewsSupport/flc-complex-36-pham-hung-292015105931am.jpg" alt="FLC Complex Phạm H&#249;ng" title="FLC Complex Phạm H&#249;ng" />
                </a>
                <div class="news-item">
                    <div class="itembody">
                        <h3>
                            <a href="du-an/chung-cu-van-phong/flc-complex-pham-hung/index.html" title="FLC Complex Phạm H&#249;ng" class="title">
                                FLC Complex Phạm H&#249;ng
                            </a>
                        </h3>
                        <div class="news-body">
                            <p>
                                Sở hữu một vị tr&iacute; đắc địa, FLC Complex Phạm H&ugrave;ng t&iacute;ch hợp c&aacute;c tiện &iacute;ch theo ti&ecirc;u chuẩn quốc tế, kh&ocirc;ng gian xanh, coi trọng yếu tố thi&ecirc;n nhi&ecirc;n và phong thủy, hạ tầng kỹ thuật đồng bộ, an to&agrave;n, diện t&iacute;ch căn hộ linh hoạt....
                            </p>
                        </div>
                        <a href="du-an/index.html" class="viewmore">Xem thêm.</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <a class="avatar" href="du-an/chung-cu-van-phong/flc-complex-thanh-hoa/index.html" title="FLC Complex Thanh H&#243;a">
                    <img src="~/ThemeFE/Images/NewsSupport/flc-complex-thanh-hoa-15201535729am.jpg" alt="FLC Complex Thanh H&#243;a" title="FLC Complex Thanh H&#243;a" />
                </a>
                <div class="news-item">
                    <div class="itembody">
                        <h3>
                            <a href="du-an/chung-cu-van-phong/flc-complex-thanh-hoa/index.html" title="FLC Complex Thanh H&#243;a" class="title">
                                FLC Complex Thanh H&#243;a
                            </a>
                        </h3>
                        <div class="news-body">
                            <p>
                                L&agrave; khu nh&agrave; ở cao cấp kh&eacute;p k&iacute;n được đầu tư quy m&ocirc; v&agrave; đồng bộ đầu ti&ecirc;n tại Thanh H&oacute;a, dự &aacute;n FLC Complex Thanh H&oacute;a bao gồm nhiều loại h&igrave;nh nh&agrave; ở chung cư, căn hộ hạng sang, văn ph&ograve;ng hạng A, nh&agrave; liền kề&hellip;
                            </p>
                        </div>
                        <a href="du-an/index.html" class="viewmore">Xem thêm.</a>
                    </div>
                </div>
            </li>
            <li class="item">
                <a class="avatar" href="du-an/chung-cu-van-phong/khu-do-thi-flc-garden-city/index.html" title="Khu đ&#244; thị FLC Garden City">
                    <img src="~/ThemeFE/Images/NewsSupport/khu-do-thi-flc-garden-city-630201751625pm.jpg" alt="Khu đ&#244; thị FLC Garden City" title="Khu đ&#244; thị FLC Garden City" />
                </a>
                <div class="news-item">
                    <div class="itembody">
                        <h3>
                            <a href="du-an/chung-cu-van-phong/khu-do-thi-flc-garden-city/index.html" title="Khu đ&#244; thị FLC Garden City" class="title">
                                Khu đ&#244; thị FLC Garden City
                            </a>
                        </h3>
                        <div class="news-body">
                            <p>
                                Khu đ&ocirc; thị FLC Garden City được hiện thực h&oacute;a từ ước mơ x&acirc;y dựng một kh&ocirc;ng gian sống kiểu mẫu ho&agrave;n hảo với nhiều tiện &iacute;ch hiện đại h&ograve;a c&ugrave;ng kh&ocirc;ng gian thi&ecirc;n nhi&ecirc;n tươi m&aacute;t v&agrave; trong l&agrave;nh...
                            </p>
                        </div>
                        <a href="du-an/index.html" class="viewmore">Xem thêm.</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="nav">
        </div>
    </div>
    <div class="cl">
    </div>
</div>

<h2 class="w-title">ĐỐI TÁC</h2>
<div class="cl">
</div>

<div class="w-body-banner">
    <div class="wrap_partner">
        <ul class="partner">
            <li>
                <a href="http://www.vafie.org.vn" target="_blank" title="Hiệp hội doanh nghiệp đầu tư nước ngo&#224;i">
                    <img src="~/ThemeFE/Images/Banner/hiep-hoi-doanh-nghiep-dau-tu-nuoc-ngoai-67201715352am.jpg" height="71" alt="Hiệp hội doanh nghiệp đầu tư nước ngo&#224;i" />
                </a>
            </li>
            <li>
                <a href="http://amdgroup.vn" target="_blank" title="AMD Mining">
                    <img src="~/ThemeFE/Images/Banner/amd-mining-617201674643am.jpg" height="71" alt="AMD Mining" />
                </a>
            </li>
            <li>
                <a href="http://amdgroup.vn" target="_blank" title="AMD Group">
                    <img src="~/ThemeFE/Images/Banner/amd-group-617201674559am.jpg" height="71" alt="AMD Group" />
                </a>
            </li>
            <li>
                <a href="http://amdgroup.vn" target="_blank" title="AMD Smart">
                    <img src="~/ThemeFE/Images/Banner/amd-smart-617201674629am.jpg" height="71" alt="AMD Smart" />
                </a>
            </li>
            <li>
                <a href="http://amdgroup.vn" target="_blank" title="ACETECH">
                    <img src="~/ThemeFE/Images/Banner/acetech-617201674610am.jpg" height="71" alt="ACETECH" />
                </a>
            </li>
            <li>
                <a href="http://www.congchunghanoi.com.vn" target="_blank" title="Văn ph&#242;ng C&#244;ng chứng H&#224; Nội">
                    <img src="~/ThemeFE/Images/Banner/van-phong-cong-chung-ha-noi-313201542232am.jpg" height="71" alt="Văn ph&#242;ng C&#244;ng chứng H&#224; Nội" />
                </a>
            </li>
            <li>
                <a href="https://www.mbs.com.vn" target="_blank" title="MBS">
                    <img src="~/ThemeFE/Images/Banner/mbs-31201431906am.jpg" height="71" alt="MBS" />
                </a>
            </li>
            <li>
                <a href="http://klcmyanmar.com" target="_blank" title="KLC Myanmar">
                    <img src="~/ThemeFE/Images/Banner/klc-myanmar-31201431853am.jpg" height="71" alt="KLC Myanmar" />
                </a>
            </li>
            <li>
                <a href="http://www.jitco.or.jp" target="_blank" title="Jitco">
                    <img src="~/ThemeFE/Images/Banner/jitco-31201431719am.jpg" height="71" alt="Jitco" />
                </a>
            </li>
            <li>
                <a href="http://www.thanhnamgroup.com.vn/vi" target="_blank" title="Tập đo&#224;n Th&#224;nh Nam">
                    <img src="~/ThemeFE/Images/Banner/tap-doan-thanh-nam-31201431501am.jpg" height="71" alt="Tập đo&#224;n Th&#224;nh Nam" />
                </a>
            </li>
        </ul>
    </div>
</div>
